<h1>Fruits</h1>
{{#fruits}}
    {{.}} <!-- 현재 데이터 자체를 그대로 출력 -->
{{/fruits}}

<br>

<h1>Persons</h1>
{{#persons}}
    <p>{{name}} | {{age}} | {{address}}</p>
    <!-- {{name}} | {{age}} | {{address}} -->
{{/persons}}
{{#persons}}
    {{.}}
{{/persons}}