<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Person Information</h1>
<p>이름: {{person.name}}</p>
<p>나이: {{person.age}}</p>
<p>주소: {{person.address}}</p>
</body>
</html>